
beautifulsoup4>=4.9.3
requests>=2.25.1
pandas>=1.2.4
scikit-learn>=0.24.2
numpy>=1.20.2
textblob
python-amazon-paapi
python-amazon-paapi
streamlit
streamlit
beautifulsoup4
numpy
pandas
python-amazon-paapi
requests
scikit-learn
streamlit
textblob
beautifulsoup4
numpy
pandas
python-amazon-paapi
requests
scikit-learn
streamlit
textblob
matplotlib
streamlit
pymongo
plotly
streamlit_extras
streamlit
streamlit-lottie
streamlit-chat
python-dotenv
python-amazon-paapi
